/* 全体の背景とフォント設定 */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* ヘッダーの設定 */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#header-image {
    max-width: 100%;
    height: auto;
}

/* ナビゲーションメニューの設定 */
#navbar {
    background-color: #444;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    padding: 15px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: #ddd;
}

/* メインコンテンツのセクション設定 */
main {
    padding: 20px;
}

h2 {
    font-size: 1.8em;
    color: #333;
}

/* ギャラリーの設定 */
.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: auto;
    border: 5px solid #333;
}

/* フッターの設定 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* スクロールの際にナビゲーションメニューに動き */
.navbar-active {
    background-color: #222;
}
